/altekunden.txt
/alterechnungsadressen.txt
/preisliste.xml
/pincode
/key_validate.dat
/keyfile.dat
/alterechnungsadressen.txt.old
/users.xml
/sqlite
/encfs_sqlite
/sms/
/sqlite.bak/
/bio/
/altebiokunden.txt
/sms_credentials.json
